/*
  General CSS rules
 */
html { padding: 0; }
html > body { margin: 0 2em; }

/*
  Styles which depend on the behaviors added to CETEIcean in behaviors.js.
 */

/* Use the default text size for the document title, since styles on <h1> will 
   increase it. */
tei-titleStmt > tei-title:first-of-type { font-size: inherit; }

/* Styling for links between notes and the content annotated by them. */
.link-to-note {}
.link-from-note {
  float: left;
  margin-left: 0.25em;
  margin-right: 0.5em;
  font-size: 0.95em;
}


/*
  Place custom styling rules below.
 */

