/*
  General CSS rules for CETEIcean
  
  Stylesheet adapted from TAPAS Generic:
  https://github.com/NEU-DSG/tapas-generic
 */
 
html {
  color: #292929;
  font-family: Garamond, "Times New Roman", Times;
  padding: 0;
}
html > body {
  padding: 0 0.5em;
}
@media screen and (min-width: 800px) {
  html > body {
    padding: 0 15%;
  }
}

/*
  TEI-encoded XML as custom HTML elements
 */
tei-tei {
  display: flex;
  flex-direction: column;
}
tei-teiheader > * { display: none; }
tei-teiheader > tei-filedesc { display: block; }
tei-text { margin: 1em 0; }

/* Elements that should generally display as blocks */
tei-accmat, tei-acquisition, tei-additional, tei-addrline, address, tei-admininfo, 
tei-app, tei-argument, tei-biblfull, tei-biblstruct tei-bindingdesc, tei-byline, 
tei-cb, tei-dateline, tei-docauthor, tei-docdate, tei-docedition, tei-docimprint, 
tei-doctitle, tei-l, tei-lg, tei-provenance, tei-docimprint tei-pubplace, tei-quote, 
tei-re, tei-respstmt, tei-samplingdecl, tei-sense, tei-setting, tei-source, 
tei-sponsor {
  display: block;
}

/* Elements that should display as blocks with a 1em margin on the top and bottom */
tei-ab, tei-caption, tei-castgroup, tei-cit, tei-climate, tei-collation, tei-colophon, 
tei-condition, tei-custodialhist, tei-mscontents, tei-p, tei-performance, tei-person, 
tei-persongrp, tei-recordhist, tei-scriptnote, tei-sealdesc, tei-stamp {
  display: block;
  margin: 1em 0;
}

/* Elements that should generally be hidden */
tei-crefpattern, tei-encodingdesc, tei-graphic, tei-node, tei-surplus, tei-textclass {
  display: none;
}

/*
  Elements that should be emphasized or set apart in some way
 */
tei-emph, tei-ovar, tei-sound, tei-view {
  font-style: italic;
}
tei-origplace, tei-principal, tei-remarks {
  font-weight: bold;
}

/*
  Breaks and beginnings
 */
tei-lb:after, tei-pb:after {
  content: '\a';
  white-space: pre;
}

/*
  Headings
 */
tei-titlestmt > tei-title {
  font-size: 2em;
}
tei-head {
  display: block;
  font-size: 1.75em;
  font-weight: normal;
  margin: 1.25em 0 0.5em;
}

/*
  Quotes
 */
tei-p tei-q, tei-p tei-quote, tei-p tei-socalled {
  display: inline;
}
tei-q, tei-quote, tei-socalled {
  quotes: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019";
}
tei-q:before, tei-quote:before, tei-socalled:before {
  content: open-quote;
}
tei-q:after, tei-quote:after, tei-socalled:after {
  content: close-quote;
}

/*
  Tables
 */
table, tei-table {
  border-collapse: collapse;
  display: table;
  margin: 2em 10%;
  width: 80%;
}
tei-table > tei-head {
  display: table-caption;
}
tei-table *[role='label'] {
  font-weight: bold;
}
tei-table tei-row {
  display: table-row;
}
tei-table tei-cell {
  border: medium solid darkgray;
  display: table-cell;
  padding: 0.5rem 1rem;
}
